body {
    font-family: 'Supermercado One', cursive;
    font-size: 15px;
    line-height: 1;
    display:flex;
    background: rgb(165, 156, 156);
    justify-content: center;
    align-items: center;
}

  
.jumbotron {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    color: black;
    border-bottom: 9px solid black;
    padding: 3px;
    margin-bottom: 2%;
}

h1 {
    font-size: 10px;
}
main {
    justify-content: center;
}
#search-bar {
    flex-wrap: wrap;
    display:flex;
    background: #000000d0;
    color: white;
    border-radius: 30px;
    align-items: center;
    margin-left: 2%;
    margin-right: 4%;
    float: right;
    width: 40%;
    
}
.search {
     align-items: center;
     opacity: 80%;
     padding:0%;    
   }

.searchBtn {
    height:40px;
    width: 40px;
   
}
button {
     margin:.5em;
    margin-top: 0%;
    border:none;
    border-radius: 20px;
}
button:hover {
    background: rgb(82, 82, 100);
}
.saved-searches {
    margin:0%;
    padding: 20px;
    clear: both;
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
}
.container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#today-weather {
    padding: 2em;
    align-items: center;
}
#five-day-weather {
    padding: 3em;
    margin: 0 1%;

    display: flex;
}
.current {
    margin-left: 10%;
    justify-content: center;
}
.card {
    display:flex;
    background: #000000d0;
    color: white;
    border-radius: 30px;
    opacity: 80%;
    }

#four-day-title {
    font-size: 50px;
}
.flex {
    display: flex;
    align-items: center;
}
.description {
    text-transform: capitalize;
    margin-left: 10px;
}
h2.temp {
    margin: 0;
    margin-bottom: 0.5em;
}
/* footer {
    justify-content: end;
    
} */
.loading {
    visibility: hidden;
}
